@charset "UTF-8";

.main1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.main1 input {
	background-color: #070c19;
	color: white;
	font-size: 30px;
	border: 1px solid white;
	padding: 10px 70px;
	border-radius: 10px;;
	margin-left: 20px;
}
